{% extends 'base.html' %}
{% block body_block %}
<div class="container" style="margin-top: 150px;">
<center> 
<h4> Thanks for showing interest with us </h4>
<h6 style="line-height:2">We will be contact you as soon as possible. We have more than 10 year in education field. </h6>
</center>
</div>
<br/> <br/> <br/> <br/> <br/> <br/>
{% endblock %} 

{% block foot %}  
<footer class="page-footer" style="bottom:0;left:0;width:100%; position:;">
          <div class="" style="padding-left: 25pt;line-height: 2">
            <div class="row">
              <div class="col m3 s12">
                <h5 class="white-text">SLMDSKILLS</h5>
                <p class="grey-text text-lighten-4">More than 10 year in education field</p>
              </div>
              <div class="col m3 s12">
                <h5 class="white-text">Course</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Computer Course</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">University Course</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Training & Certification</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Desing & Developmen</a></li>
                </ul>
              </div>

              <div class="col m3 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">course</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">contact</a></li>
                </ul>
              </div>

              <div class="col m3 s12">
                <h5 class="white-text">Contact Us</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Luniyawas Goner Road Jaipur</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">92140-86662</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">slmdskill@gmail.com</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">http://www.rgcsmluniyawas.in</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

{% endblock %}